<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>99 Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img class="logo" src="assets/logo.png">
  </div>
  <form [formGroup]="signInForm" id="sign-in">
    <ion-list lines="none">
      <ion-list-header>
        <h4 class="auth-title">Sign in to your an account</h4>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="user@domain.com" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="password" name="password"></ion-input>
      </ion-item>
      <ion-button [disabled]="!signInForm.valid" expand="block" type="submit" color="secondary" (click)="signIn()">Sign in</ion-button>
      <ion-item>
        <ion-label class="sign-up-label">Don't have an account?</ion-label>
      </ion-item>
      <div class="button-center">
        <ion-button type="button" fill="clear" (click)="signUp()" class="auth-link">
          Sign up for an account
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
