ion-content {
  --background: var(--ion-color-tertiary);
  .logo-container{
    display: flex;
    justify-content: center;
    .logo{
      max-width: 50vw;
    }
  }
  form {
    margin-top: 3rem;
    ion-list {
      background: var(--ion-color-tertiary);
      .button-center {
        display: flex;
        justify-content: center;
      }
      ion-list-header {
        h4.auth-title {
          color: var(--ion-color-light);
        }
      }
      ion-item{
        ion-label.sign-up-label {
          text-align: center;
          font-size: 0.8rem;
          margin-top: 5rem;
        }
      }
      ion-item{
        --background: transparent;
        --color: var(--ion-color-light);
        --color-activated: white;
        --background-focused: transparent;
        ion-label {
          color: var(--ion-color-light);
        }
        &.item-interactive.ion-invalid{
          --highlight-background:pink;
        }
        &.item-iteractive.ion-valid {
          --highlight-background: green;
        }
      }
    }
    .auth-link {
      color: var(--ion-color-light);
    }
  }
}