<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail of {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="detailForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-input name="date" readonly disabled>{{date.toDate() | date: 'dd/MM/yyyy hh:mm:ss'}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input name="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Note</ion-label>
        <ion-textarea name="note" formControlName="note"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="secondary" (click)="close()">Cancel</ion-button>
    <ion-button expand="block" color="primary" [disabled]="!edited">Save</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" expand="full">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>