<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add a note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="name for note" name="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Note</ion-label>
        <ion-textarea name="note" formControlName="note"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!addForm.valid" (click)="submit()">
      Add
    </ion-button>
  </form>

</ion-content>
