<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add a note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="name for note" name="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Note</ion-label>
        <ion-textarea name="note" formControlName="note"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!addForm.valid || uploading" (click)="submit()">
      <span *ngIf="!uploading">Add</span>
      <span *ngIf="uploading">Uploading image...</span>
    </ion-button>
  </form>

  <img *ngIf="photo" [src]="photo">
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="takePhoto()" [disabled]="!addForm.valid || photoTaken">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>