ion-header {
  ion-searchbar{
    --background: var(--ion-color-secondary);
  }
  background: var(--ion-color-secondary);
}


ion-content {
  --background: var(--ion-color-tertiary);
  ion-card{
    ion-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 100%;
      display: block;
      white-space: nowrap;
      font-size: 1em;
      text-transform: capitalize;
    }
    ion-card-subtitle {
      font-size: 0.8em;
    }
    ion-card-content {
      min-height: 5rem;
      background-size: cover;
      background-color: lightgrey;
    }
  }
}