<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>notes</ion-title>
  </ion-toolbar>
  <ion-searchbar color="tertiary" (ionInput)="filterNotes( $event )" (ionCancel)="restoreNotes()" debounce="1000" placeholder="Search notes"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let note of notes" size="6" (click)="getNoteDetail(note)">
        <ion-card color="light">
        <ion-card-header>
          <ion-card-title>{{note.name}}</ion-card-title>
          <ion-card-subtitle>{{note.date.toDate() | date: 'd/M/yyyy HH:mm'}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content [style.background-image]="'url(' + note.image + ')'">
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
