<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>Close</ion-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" name="email" formControlName="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" name="password" formControlName="password" placeholder="minimum 6 characters"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!signUpForm.valid" type="submit" color="tertiary" expand="block" (click)="submit()" >
              Sign Up
            </ion-button>
          </ion-col>
          <ion-col>
              <ion-button color="warning" expand="block" (click)="close()" >
                Close
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-list>
  </form>
</ion-content>
