<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Your email address</ion-label>
        <ion-input type="email" name="email" formControlName="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Create a password</ion-label>
        <ion-input type="password" name="password" formControlName="password" placeholder="minimum 6 characters"></ion-input>
      </ion-item>
      <ion-button [disabled]="!signUpForm.valid" type="submit" color="dark" expand="block" (click)="submit()" >Sign Up</ion-button>
    </ion-list>
  </form>
</ion-content>
